<% include ../partials/header.ejs %>
<main class="container">
    <h1 style="padding: 35px;">Your Surveys</h1>
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="surveyTopic">Survey Topic: </label>
                <%= survey.surveyTopic %>
            </fieldset>
            <fieldset class="form-group">
                <label for="surveyQuestion">Survey Question :</label>
                <%= survey.surveyQuestion %>
            </fieldset>

            <div class="radioButtons" style="padding:15px;">
                <label class="radio-inline"><input type="radio" name="optradio"><%= survey.surveyOption1 %></label><br>
                <label class="radio-inline"><input type="radio" name="optradio"> <%= survey.surveyOption2 %></label><br>
                <label class="radio-inline"><input type="radio" name="optradio"><%= survey.surveyOption3 %></label><br>
                <label class="radio-inline"><input type="radio" name="optradio"><%= survey.surveyOption4 %></label>
            </div>
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Submit"/>
            </fieldset>
        </form>
    </div>

</main>
<% include ../partials/footer.ejs %>
