<% include ../partials/header.ejs %>
<main class="container">
    <h1 style="padding: 35px;">Your Surveys</h1>
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="surveyTopic">Survey Topic: </label>
                <%= survey.surveyTopic %>
            </fieldset>
            <fieldset class="form-group">
                <label for="surveyQuestion">Survey Question :</label>
               <%= survey.surveyQuestion %>
            </fieldset>

            <div class="radioButtons" style="padding:15px;">
                <label class="radio-inline">
                    <% if(survey.optradio1 == "on" ) { %>
                    <input type="radio" checked><%= survey.surveyOption1 %>
                        <% } else { %>
                    <input type="radio"><%= survey.surveyOption1 %>
                    </label>
                        <% } %>

                <!--2nd-->
                <label class="radio-inline">
                    <% if(survey.optradio2 == "on" ) { %>
                    <input type="radio" checked><%= survey.surveyOption2 %>
                    <% } else { %>
                    <input type="radio"><%= survey.surveyOption2 %>
                </label>
                <% } %>

                <!--3rd-->
                <label class="radio-inline">
                    <% if(survey.optradio3 == "on" ) { %>
                    <input type="radio" checked><%= survey.surveyOption3 %>
                    <% } else { %>
                    <input type="radio"><%= survey.surveyOption3 %>
                </label>
                <% } %>
                <!--4th-->
                <label class="radio-inline">
                    <% if(survey.optradio4 == "on" ) { %>
                    <input type="radio" checked><%= survey.surveyOption4 %>
                    <% } else { %>
                    <input type="radio"><%= survey.surveyOption4 %>
                </label>
                <% } %>

            </div>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update</button>
                <a href="/surveys/delete/<%= survey._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
                <a href="/surveys" title="Cancel"  class="btn btn-default">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>

</main>
<% include ../partials/footer.ejs %>
